<!-- <div class="container">
    <h2>Employee Dashboard</h2>
    <br>
    <div class="demo-button-container">
        <button mat-raised-button (click)="addData()" class="-button">
          Add data
        </button>
        <button
            mat-raised-button
            [disabled]=""
            (click)="removeData()"
            class="demo-button">
          Remove data
        </button>
      </div>
     <app-table></app-table>
</div> -->
<p>this is Dashboard</p>
<div *ngFor="let item of posts$ | async">
  <h3><span>{{item.id}}. </span>{{item.title}}</h3>
</div>

