<!-- Image and text -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary header-nav">
  <a class="navbar-brand" href="#">
    <img
      src="https://images.vexels.com/media/users/3/142789/isolated/preview/2bfb04ad814c4995f0c537c68db5cd0b-multicolor-swirls-circle-logo.png"
      width="30"
      height="30"
      class="d-inline-block align-top"
      alt=""
    />
    Bloodshed
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="home"
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="about">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="contact">Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="rxjs-operator">RxJS operator</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="internationalization">Internationalization</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="practise">Practise</a>
      </li>
    </ul>
  </div>
</nav>
