<div class="form-container">
    <h3>Enter Details</h3>
<form>
  <p>
    <mat-form-field>
      <mat-label>Enter position</mat-label>
      <input type="number" class="example-right-align" matInput [formControl]="position" required />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <mat-label>Enter name</mat-label>
      <input matInput [formControl]="position" required />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <mat-label>Enter symbol</mat-label>
      <input matInput [formControl]="position" required />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <mat-label>Enter weight</mat-label>
      <input matInput type="number" class="example-right-align" [formControl]="position" required />
    </mat-form-field>
  </p>
</form>
</div>

